<div class="container">
    <ul ngbNav [activeId]="route.fragment | async" [ngClass]="'nav-tabs d-flex mb-4 justify-content-between'">
        <li [ngbNavItem]="1">
            <a ngbNavLink routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink routerLink="/pointage" routerLinkActive="active">Pointage</a>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink routerLink="/equipes" routerLinkActive="active">Équipes</a>
        </li>
        <li [ngbNavItem]="4">
            <a ngbNavLink routerLink="/strava" routerLinkActive="active">Importer de strava</a>
        </li>
        <li [ngbNavItem]="5" [ngClass]="'ml-auto'" routerLinkActive="active">
            <a ngbNavLink routerLink="/admin">Administrer</a>
        </li>
    </ul>
</div>