
.stat {
    width: 120px;
    margin: 0;
    padding: 0;
    background-color:transparent !important;
    border:none !important;
}

.inner-table {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

.inner-table tbody tr,
.inner-table tbody tr:hover,
.inner-table tbody td {
  background-color:transparent !important;
  border:none !important;
}

.inner-table thead tr,
.inner-table thead th {
  background-color:transparent !important;
  border:none !important;
}

td.teamName {
  font-weight: bold;
}