<div class="text-center border border-light p-5">
    <p class="h4 mb-4">Configurer Techsport</p>
    <br />
    <div class="container border border-primary">
        <div class="col mb-4">
            <span class="h6 mb-4">Mode d'opération</span>

            <div id="mode-select" class="col">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-light dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{
                        getSelectedMode() }}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mb-4">
                        <button ngbDropdownItem *ngFor="let mode of getAvailableModes()"
                            (click)="selectMode(mode[0])">{{ mode[1] }}</button>
                    </div>
                </div>
            </div>

            <div class="form-check" *ngIf="configRequest.mode === 'time'">
                <p>Le mode de pointage par temps prend en compte le temps de mouvement de chaque activité approuvée.
                    <br>Le temps minimum requis pour qu'une activité soit importable est de 15 minutes.<br>Il est
                    possible d'ajouter manuellement du temps pour des équipes dans ce mode.
                </p>
                <br>
            </div>

            <div class="form-check" *ngIf="configRequest.mode === 'distancePerSport'">
                <p>Le mode de pointage par distance par activité permet d'assigner un certain nombre de points par
                    kilomètres pour certains types d'activités. <br>Le pointage est automatiquement calculé lors de
                    l'approbation d'une activité.<br>Il est impossible d'ajouter des points manuellement dans ce mode,
                    seul l'import via strava est disponible.</p>
                <br>
                <table class="table">
                    <thead>
                        <th>Type d'activité</th>
                        <th>Points par kilomètres</th>
                    </thead>
                    <tbody [formGroup]="modifiers">
                        <tr *ngFor="let sport of getAvailableSports(); let i = index; trackBy: trackByFn">
                            <td>{{ sport[1] }}</td>
                            <td><input type="number" name="{{ sport[0] }}" class="form-control"
                                    formControlName="{{ sport[0] }}"
                                    value="{{ configRequest.modifiers.get(sport[0]) || 1.0 }}"
                                    placeholder="{{ configRequest.modifiers.get(sport[0]) || 1.0 }}" 
                                    min="0.5"
                                    step="0.5" required/></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>

            <br>
            <mat-form-field appearance="fill" style="margin-right: 20px">
                <input matInput [ngxMatDatetimePicker]="picker" [formControl]="start"
                    placeholder="Choisissez la date de début">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true" [stepHour]="1"
                    [stepMinute]="15" [defaultTime]="[0, 0, 0]">
                </ngx-mat-datetime-picker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [ngxMatDatetimePicker]="picker2" [formControl]="end"
                    placeholder="Choisissez la date de fin">
                <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="true" [stepHour]="1"
                    [stepMinute]="15" [defaultTime]="[23, 59, 59]">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <button mdbBtn class="btn btn-primary form-control mb-4" (click)="updateConfig()">Mettre à jour</button>
        </div>
    </div>
</div>