<div class="image">
<div class="container">
    <div class="justify-content-center">
        <p class="h1">
            <b>
                Techso VS Flinks
            </b>
        </p>
        <p>Bienvenue dans le challenge sportif qui fera s’affronter Techso contre Flinks!<br>Quelle compagnie
            l’emportera?</p>
        <p><b>Dates du challenge</b> : du 14 juin 2021 au 14 juillet 2021<br><b>Les sports acceptés</b> : course à pied
            (en extérieur et sur tapis), le vélo (en extérieur et stationnaire), la marche, la randonnée et le roller.
            <br><b><u>Seront comptabilisées les activités de minimum 2km.</u></b>
        </p>
        <h3 style="margin-bottom:0"><u>ATTRIBUTION DES POINTS</u></h3>
        <span>Les points sont attribués différemment en fonction des sports:</span>
        <ul>
            <li>Course à pied (en extérieur ou sur tapis): 2,5 points / km</li>
            <li>Marche et randonnée: 1,5 points / km</li>
            <li>Roller: 1,2 points / km</li>
            <li>Vélo (en extérieur ou stationnaire): 1 point / km</li>
        </ul>
        <h3 style="margin-bottom:0"><u>FONCTIONNEMENT</u></h3>
        <ol>
            <li>S’inscrire sur <a href="https://www.strava.com/">Strava</a></li>
            <li>Rejoindre le <a href="https://www.strava.com/clubs/techsovsflinks">groupe Strava</a></li>
            <li>Enregistrer ses activités directement sur Strava ou les synchroniser avec sa montre connectée/autre application.</li>
            <li>Importer ses activités Strava <a href="/strava">ici</a></li>
            <li>Suivre les points de son équipe <a href="/pointage">ici</a></li>
        </ol>
    </div>
</div>
</div>
