<div class="container image"></div>
<hr>
<div class="container">
    <div class="justify-content-center" *ngIf="!isEnglish else english">
        <p class="h1">
            <b>
                Techso VS Flinks
            </b>
        </p>
        <p>Bienvenue dans le challenge sportif qui fera s’affronter Techso contre Flinks!<br>Quelle compagnie
            l’emportera?</p>
        <p><b>Dates du challenge</b> : du 14 juin 2021 00:00 au 14 juillet 2021 23:59, heures de Montréal<br><b>Les
                sports acceptés</b> : course à pied
            (en extérieur et sur tapis), le vélo (en extérieur et stationnaire), la marche, la randonnée et le roller.
            <br><b><u>Seront comptabilisées les activités de minimum 2km.</u></b>
        </p>
        <h3 style="margin-bottom:0"><u>ATTRIBUTION DES POINTS</u></h3>
        <span>Les points sont attribués différemment en fonction des sports:</span>
        <ul>
            <li>Course à pied (en extérieur ou sur tapis): 2,5 points / km</li>
            <li>Marche et randonnée: 1,5 points / km</li>
            <li>Roller: 1,2 points / km</li>
            <li>Vélo (en extérieur ou stationnaire): 1 point / km</li>
        </ul>
        <h3 style="margin-bottom:0"><u>FONCTIONNEMENT</u></h3>
        <ol>
            <li>S’inscrire sur <a href="https://www.strava.com/">Strava</a></li>
            <li>Rejoindre le <a href="https://www.strava.com/clubs/techsovsflinks">groupe Strava</a></li>
            <li>Enregistrer ses activités directement sur Strava ou les synchroniser avec sa montre connectée/autre
                application.</li>
            <li>Importer ses activités Strava <a href="/strava">ici</a></li>
            <li>Suivre les points de son équipe <a href="/pointage">ici</a></li>
        </ol>
        <p class="h3">
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis>
            <b>
                À VOS MARQUES, PRÊTS, PARTEZ!
            </b>
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis>
        </p>
    </div>
    <ng-template #english class="justify-content-center">
        <p class="h1">
            <b>
                Techso VS Flinks
            </b>
        </p>
        <p>Welcome to this summer sports challenge: Techso against Flinks!<br>Which company will win?!</p>
        <p><b>Challenge dates</b> : June 14th 00:00AM to July 14th 11:59PM, hours of Montreal<br><b>Recognized
                sports</b> : running (outdoors and on treadmill), cycling (outdoors and stationary), walking, hiking and
            rollerblading.
            <br><b><u>Each activity must be at least 2km to be counted.</u></b>
        </p>
        <h3 style="margin-bottom:0"><u>AWARD OF POINTS</u></h3>
        <span>Points are awarded differently depending on the sport:</span>
        <ul>
            <li>Running (outdoors or on treadmill): 2.5 points / km</li>
            <li>Walking and hiking: 1.5 points / km</li>
            <li>Rollerblading: 1.2 points / km</li>
            <li>Cycling (outdoor or stationary): 1 point / km </li>
        </ul>
        <h3 style="margin-bottom:0"><u>LOGISTIC</u></h3>
        <ol>
            <li>Register on <a href="https://www.strava.com/">Strava</a></li>
            <li>Join the <a href="https://www.strava.com/clubs/techsovsflinks">Strava group</a></li>
            <li>Record your activities directly on Strava or synchronize it with your connected watch.</li>
            <li>Import your Strava activities <a href="/strava">here</a></li>
            <li>Track your team's progress <a href="/pointage">here</a></li>
        </ol>
        <p class="h3">
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis>
            <b>
                READY, SET, GO!
            </b>
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis>
        </p>
    </ng-template>
</div>