<div class="container">
    <div class="justify-content-center">
        <h2>
            <angular-emojis [name]="'mega'" size="30"></angular-emojis><b>OYE OYE LA BATAILLE ROYALE REPREND DU SERVICE
                <angular-emojis [name]="'mega'" size="30"></angular-emojis>
            </b>
        </h2>
        <p>Pour le mois de février (1er au 28 février) nous vous lançons un nouveau défi pour vous garder en forme !
            <angular-emojis [name]="'muscle'" size="20"></angular-emojis>
            Les choses s’accélèrent et les activités reprennent… alors nous vous proposons de bien vous échauffer pour
            attaquer
            cette nouvelle année (ou pour éliminer les excès de la précédente <angular-emojis [name]="'beers'"
                size="20"></angular-emojis>)!
        </p>
        <p>2 équipes seront en compétition (2 canaux Slack seront créés)</p>
        <ul>
            <li><b>Équipe Internationale</b> avec comme capitaine @Carl & capitaine adjoint @Jessica (personnes
                travaillant ailleurs que Montréal ou pour nos clients à l’international)</li>
        </ul>
        <p><b>VS</b></p>
        <ul>
            <li><b>Équipe Montréal</b> avec comme capitaine @Bernard & capitaine adjoint @Rose Dansereau (personnes
                travaillant à Montréal)</li>
        </ul>
        <h3>L’objectif: bouger pour la bonne cause…</h3>
        <h4>1h d’activité sportive = 1$ reversé à une association par Techso.</h4>
        <p>L’équipe qui aura cumulé le plus d’heures dans le mois choisira l’association à laquelle reversé les $$$ (max
            500$ - soit 500h).</p>
        <h2><b>Modalités</b></h2>
        <ol>
            <li>Chaque équipe devra choisir l’association qu’elle souhaite soutenir.</li>
            <li>Un minimum de 15min par activité est requis.</li>
            <li>Toutes les activités sportives comptent :
                <angular-emojis [name]="'running'" size="20"></angular-emojis>
                <angular-emojis [name]="'bicyclist'" size="20"></angular-emojis>
                <angular-emojis [name]="'skier'" size="20"></angular-emojis>
                <angular-emojis [name]="'man_in_lotus_position'" size="20"></angular-emojis>
                <angular-emojis [name]="'woman_climbing'" size="20"></angular-emojis>
                <angular-emojis [name]="'swimmer'" size="20"></angular-emojis>
                <angular-emojis [name]="'ice_skate'" size="20"></angular-emojis>
                <angular-emojis [name]="'shoe'" size="20"></angular-emojis>…
            </li>
            <li>Comment comptabiliser vos min/heures? Via votre montre connectée ou l’application Strava* est le plus
                simple.</li>
            <li>Un club Strava Techso est disponible pour voir les activités de chacun (on vous ajoute sur demande).
            </li>
            <li>Nous avons besoin d’une preuve de votre activité : le plus simple est de rejoindre le groupe Techso sur
                Strava.
                <ul>
                    <li>Si vous n’êtes pas à l’aise avec l’idée envoyez-nous (Rose / Jess) une capture d’écran de votre
                        activité, une photo par exemple…</li>
                    <li>Sinon, vous pouvez importer vos activités d'aujourd'hui <a [routerLink]="['/strava']">En
                            utilisant la page prévue à cet effet</a></li>
                </ul>
            </li>
            <li>Un suivi des points sera disponible avec des mises à jour régulières <a
                    [routerLink]="['/pointage']">Ici</a></li>
        </ol>
        <h3><b>*Pour utiliser strava</b></h3>
        <ol>
            <li><a href="https://www.strava.com/register/free">Il faut créer un compte (gratuit)</a></li>
            <li>Ajoutez <a href="https://www.strava.com/athletes/65962949">Jess (Jessica Glnd)</a> et/ou 
                <a href="https://www.strava.com/athletes/53560333">Rose (Rose Dansereau)</a> pour que l’on vous ajoute sur le Club Strava
                Techso.</li>
            <li> Vous pourrez ensuite synchroniser votre montre connectée et vos activités se mettront automatiquement
                dans l’application.
                <ul>
                    <li>Si vous n’avez pas de montre vous pouvez lancer votre activité directement avec l’application
                        Strava (multitude d'activités disponibles sur l’application :
                        <angular-emojis [name]="'running'" size="20"></angular-emojis>
                        <angular-emojis [name]="'bicyclist'" size="20"></angular-emojis>
                        <angular-emojis [name]="'skier'" size="20"></angular-emojis>
                        <angular-emojis [name]="'man_in_lotus_position'" size="20"></angular-emojis>
                        <angular-emojis [name]="'woman_climbing'" size="20"></angular-emojis>
                        <angular-emojis [name]="'swimmer'" size="20"></angular-emojis>
                        <angular-emojis [name]="'ice_skate'" size="20"></angular-emojis>
                        <angular-emojis [name]="'shoe'" size="20"></angular-emojis> etc vous devrez trouver votre
                        bonheur).
                    </li>
                    <li>Si vous n’avez pas pu lancer votre montre, Strava, ou que votre activité n’est pas dans la
                        liste, vous
                        pouvez saisir manuellement votre activité dans Strava <b>(là une preuve sera exigée).</b></li>
                </ul>
            </li>
        </ol>
        <h1>
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis><b>À VOS MARQUES, PRÊTS, PARTEZ!</b>
            <angular-emojis [name]="'trophy'" size="30"></angular-emojis>
        </h1>
    </div>
</div>