ul {
    list-style-type: square;
}

.h1,.h3,.h6 {
    text-align: center;
}

.container {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.image {
    width: 35vw;
    height: 50vh;
    background-image: url('../../assets/images/vs.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .image {
        width: 95vw;
        height: 50vh;
        background-image: url('../../assets/images/vs.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
    }
}