<div class="text-center border border-light p-5">
    <p class="h4 mb-4">Éditer une équipe</p>
    <div id="team-name" class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary btn-lg dropdown-toggle" id="dropdownBasic1"
                ngbDropdownToggle>{{
                selectedTeam.name ||
                'Choisir l\'équipe'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mb-4">
                <button ngbDropdownItem *ngFor="let team of teams" (click)="selectTeam(team)">{{
                    team.name }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="selectedTeam.name">
        <p class="h6 mb-4">Membres de l'équipe, 1 par ligne</p>
        <textarea id="team-member" [(ngModel)]="members"
            class="form-control mb-4"></textarea>

        <button mdbBtn class="btn btn-primary form-control mb-4"
            (click)="editTeam()">Éditer</button>
    </div>
</div>