<div class="container">

    <div class="d-flex justify-content-center">
        <h2 *ngIf="error.trim().length > 0" class="border border-danger bg-danger text-light">{{ error }}</h2>
        <h2 *ngIf="success.trim().length > 0" class="border border-success bg-success">{{ success }}</h2>
    </div>

    <div class="d-flex justify-content-center">
        <input id="token-input" type="password" [(ngModel)]="tokenInput" placeholder="Token d'administration" />
        <button mdbBtn class="btn btn-primary" (click)="submitToken()">Soumettre</button>
    </div>

    <div *ngIf="isAdmin">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Temps</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <div class="text-center border border-light p-5">
                        <p class="h4 mb-4">Ajouter du temps à une équipe</p>

                        <div id="team-name" class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-lg dropdown-toggle" id="dropdownBasic1"
                                    ngbDropdownToggle>{{
                                    selectedTeam.name ||
                                    'Choisir l\'équipe'}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mb-4">
                                    <button ngbDropdownItem *ngFor="let team of teams" (click)="selectTeam(team)">{{
                                        team.name }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-control mb-4" *ngIf="selectedTeam.name.trim().length > 0">
                            <p class="h6 mb-4">L'équipe possède actuellement :
                                {{ selectedTeam.timeTotal.hours }} heures
                                {{ selectedTeam.timeTotal.minutes }} minutes
                                {{ selectedTeam.timeTotal.seconds }} secondes</p>
                        </div>
                        <br />
                        <div class="container border border-primary">
                            <p class="h5 mb-4"> Temps à ajouter. Au moins 1 champs est requis. </p>
                            <div class="col mb-4">
                                <table class="container mb-4">
                                    <thead>
                                        <th>Heures</th>
                                        <th>Minutes</th>
                                        <th>Secondes</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" [(ngModel)]="moreTime.hours"
                                                    class="form-control" /></td>
                                            <td><input type="number" [(ngModel)]="moreTime.minutes"
                                                    class="form-control" /></td>
                                            <td><input type="number" [(ngModel)]="moreTime.seconds"
                                                    class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button mdbBtn class="btn btn-primary form-control mb-4" (click)="addTime()">Ajouter du
                                    temps</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" (click)="getActivities()">
                <a ngbNavLink>Approbations</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <span>Filtrer par:</span>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary dropdown-toggle" id="selectFilter" ngbDropdownToggle>{{ filter
                            }}</button>
                        <div ngbDropdownMenu aria-labelledby="selectTeamApproval" class="mb-4">
                            <button ngbDropdownItem (click)="getActivities('Toutes')">Toutes</button>
                            <button ngbDropdownItem (click)="getActivities('À Valider')">À Valider</button>
                            <button ngbDropdownItem (click)="getActivities('Refusées')">Refusées</button>
                            <button ngbDropdownItem (click)="getActivities('Approuvées')">Approuvées</button>
                        </div>
                    </div>
                    <div class="text-center border border-light p-5" *ngIf="activities.length > 0; else noActivities">
                        <ng-container *ngFor="let activity of activities">
                            <div class="card text-center">
                                <div class="card-body">
                                    <a class="" href="https://www.strava.com/activities/{{activity.id}}">Lien vers
                                        l'activité (Strava)</a>
                                    <div class="row">
                                        <span class="col-sm-6">Athlète: {{ activity.athleteFullName }}</span>
                                        <span class="col-sm-6">Date: {{activity.activityDate}}</span>
                                        <span class="col-sm-6">Temps: {{activity.activityTime.hours}}h
                                            {{activity.activityTime.minutes}}m {{activity.activityTime.seconds}}s</span>
                                        <span class="col-sm-6">{{ getStatus(activity) }}</span>
                                    </div>
                                    <ng-container *ngIf="activity.approved == false || activity.approved == null">
                                        <div ngbDropdown class="d-inline-block">
                                            <button class="btn btn-primary dropdown-toggle" id="selectTeamApproval"
                                                ngbDropdownToggle>Approuver pour l'équipe</button>
                                            <div ngbDropdownMenu aria-labelledby="selectTeamApproval" class="mb-4">
                                                <button ngbDropdownItem *ngFor="let team of teams"
                                                    (click)="changeApproval(activity, team.name, true)">{{team.name}}</button>
                                            </div>
                                        </div>
                                        <button mdbBtn class="btn btn-primary"
                                            (click)="changeApproval(activity, 'test-2', false)">Refuser</button>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <nav aria-label="Page">
                            <ul class="pagination justify-content-center">
                                <li [ngClass]="{'page-item': true, 'disabled': page == 1}">
                                    <a class="page-link" [routerLink]="['.']" (click)="changePage(page-1)"
                                        aria-label="Précédente">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Précédente</span>
                                    </a>
                                </li>
                                <li *ngFor="let a of pages(); let i = index" [ngClass]="{'page-item': true, 'active': page == i+1}">
                                    <a class="page-link" [routerLink]="['.']"
                                        (click)="changePage(i+1)">{{ i+1 }}</a>
                                </li>
                                <li [ngClass]="{'page-item': true, 'disabled': page+1 > pageCount}">
                                    <a class="page-link" [routerLink]="['.']" (click)="changePage(page+1)"
                                        aria-label="Suivante">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Suivante</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <ng-template #noActivities>
                        <h1 class="text-center border border-light p-5">Aucune demande d'approbation n'est disponible
                        </h1>
                    </ng-template>
                </ng-template>

            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Éditer une équipe</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <div class="text-center border border-light p-5">
                        <p class="h4 mb-4">Éditer une équipe</p>
                        <div id="team-name" class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary btn-lg dropdown-toggle" id="dropdownBasic1"
                                    ngbDropdownToggle>{{
                                    selectedTeam.name ||
                                    'Choisir l\'équipe'}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mb-4">
                                    <button ngbDropdownItem *ngFor="let team of teams" (click)="selectTeam(team)">{{
                                        team.name }}</button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTeam.name">
                            <p class="h6 mb-4">Membres de l'équipe, 1 par ligne</p>
                            <textarea id="team-member" [(ngModel)]="newTeam.members"
                                class="form-control mb-4"></textarea>

                            <button mdbBtn class="btn btn-primary form-control mb-4"
                                (click)="editTeam()">Éditer</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Créer une équipe</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <div class="text-center border border-light p-5">
                        <p class="h4 mb-4">Créer une nouvelle équipe</p>
                        <input type="text" [(ngModel)]="newTeam.name" class="form-control mb-4"
                            placeholder="Nom de l'équipe" />

                        <p class="h6 mb-4">Membres de l'équipe, 1 par ligne</p>
                        <textarea id="team-member" [(ngModel)]="newTeam.members" class="form-control mb-4"></textarea>

                        <button mdbBtn class="btn btn-primary form-control mb-4" (click)="createTeam()">Créer</button>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>