<div class="container">

    <div class="d-flex justify-content-center">
        <h2 *ngIf="error.trim().length > 0" class="border border-danger bg-danger text-light">{{ error }}</h2>
        <h2 *ngIf="success.trim().length > 0" class="border border-success bg-success">{{ success }}</h2>
        <h2 *ngIf="error.trim().length == 0 && success.trim().length == 0">Administrer</h2>
    </div>

    <div class="d-flex justify-content-center" *ngIf="!isAdmin">
        <input id="token-input" type="password" [(ngModel)]="tokenInput" placeholder="Token d'administration" />
        <button mdbBtn class="btn btn-primary" (click)="submitToken()">Soumettre</button>
    </div>

    <div *ngIf="isAdmin">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Demandes</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-activities [teams]="teams" (message)="handleMessage($event)"></app-activities>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" *ngIf="isTimeMode()">
                <a ngbNavLink>Entrer manuellement</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-add-time [teams]="teams" (message)="handleMessage($event)"></app-add-time>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" *ngIf="isTimeMode()">
                <a ngbNavLink>Journal des points</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-time-log (message)="handleMessage($event)"></app-time-log>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Éditer une équipe</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-edit-team [teams]="teams" (message)="handleMessage($event)"></app-edit-team>
                </ng-template>
            </li>
            <li [ngbNavItem]="5">
                <a ngbNavLink>Créer une équipe</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-create-team (createdTeam)="teams.push($event)" (message)="handleMessage($event)">
                    </app-create-team>
                </ng-template>
            </li>
            <li [ngbNavItem]="6">
                <a ngbNavLink>Configuration</a>
                <ng-template ngbNavContent class="d-flex justify-content-center">
                    <app-admin-config [config]="this.config" (configUpdated)="setConfig($event)" (message)="handleMessage($event)">
                    </app-admin-config>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
