<span>Filtrer par:</span>
<br>
<div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary dropdown-toggle" id="selectFilter" ngbDropdownToggle>{{ filter
            }}</button>
        <div ngbDropdownMenu aria-labelledby="filterActivities" class="mb-4">
            <button ngbDropdownItem (click)="page = 1; getActivities('Toutes')">Toutes</button>
            <button ngbDropdownItem (click)="page = 1; getActivities('À Valider')">À Valider</button>
            <button ngbDropdownItem (click)="page = 1; getActivities('Refusées')">Refusées</button>
            <button ngbDropdownItem (click)="page = 1; getActivities('Approuvées')">Approuvées</button>
        </div>
    </div>
    <ng-container *ngIf="filter === 'Approuvées'">
        <span>pour</span>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary dropdown-toggle" id="selectFilter" ngbDropdownToggle>{{ teamFilter ||
                'Toutes les équipes' }}</button>
            <div ngbDropdownMenu aria-labelledby="selectTeamFilter" class="mb-4">
                <button ngbDropdownItem *ngFor="let team of teams"
                    (click)="page=1; getActivities(filter, team.name)">{{team.name}}</button>
                <button ngbDropdownItem (click)="page=1; getActivities(filter, null)">Toutes
                    les équipes</button>
            </div>
        </div>
    </ng-container>
</div>
<div class="text-center border border-light p-5" *ngIf="activities.length > 0; else noActivities">
    <ng-container *ngFor="let activity of activities">
        <div class="card text-center">
            <div class="card-body">
                <a href="https://www.strava.com/activities/{{activity.id}}">Lien vers
                    l'activité (Strava)</a>
                <app-activity-body [activity]="activity" [isTimeMode]="config.appMode === 'time'" [supportedActivities]="config.supportedActivities"></app-activity-body>
                <ng-container class="row">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-success dropdown-toggle" id="selectTeamApproval" ngbDropdownToggle>{{
                            getApprovalName(activity) }}</button>
                        <div ngbDropdownMenu aria-labelledby="selectTeamApproval" class="mb-4">
                            <button ngbDropdownItem *ngFor="let team of teams"
                                (click)="changeApproval(activity, team.name, true)">{{team.name}}</button>
                        </div>
                    </div>
                    <button mdbBtn class="btn btn-danger"
                        (click)="changeApproval(activity, activity.teamName || '', false)"
                        *ngIf="activity.approved !== false">{{ getRefusalName(activity) }}</button>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <app-pagination [pageCount]="pageCount" [page]="page" (pageChanged)="changePage($event)"></app-pagination>
</div>
<ng-template #noActivities>
    <h1 class="text-center border border-light p-5">Aucune demande d'approbation n'est disponible
    </h1>
</ng-template>