<div class="container">
    <h4>Demande d'approbation via strava</h4>
    <p>En cliquant sur le bouton ci-dessous,
        vous allez pouvoir importer toutes vos activités publiques d'aujourd'hui.</p>
    <p>Ceci créera alors des demandes d'approbation à être approuvés par les admins.</p>
    <p>Il n'y a aucun système de feedback pour savoir si votre activité est acceptée ou refusée pour l'instant. </p>

    <a class="btn btn-lg btn-primary" href="{{apiUrl}}/strava">Importer de strava</a>
</div>